<% if current_user %>
  <div class="main-container">
    <h1 class="logo-black">Go Get Some Sleep</h1>
    <%= image_tag "https://jawbone.com/#{@image}", :size => "100x100", :class => "profile-image" %>
    <h1>Welcome <%= current_user.first_name %>!</h1>
    
    <%= link_to "Set your text settings!", set_time_path(current_user) %><br>
    <%= link_to "Log Out", session_path("current"), method: "delete" %><br><br><br><br>

    <div>
      You went to sleep last night at: <%= Time.at(@sleep_time).strftime("%l:%M %p") %> and got <%= (get_hours(@asleep_length)) %> hours and <%= add_leading_zero(get_minutes(@asleep_length)) %> minutes of sleep
    </div>

    <%= image_tag "https://jawbone.com/#{@sleep_image}" %>


  </div>
<% end %>

